<?xml version="1.0" encoding="utf-8"?>
<manifest 	xmlns:android="http://schemas.android.com/apk/res/android"
    		package="com.ogp.gpstoggler"
    		android:versionCode="511"
    		android:versionName="1.511" >

    <uses-sdk	android:minSdkVersion="9"
        		android:targetSdkVersion="17" />


	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SUPER_USER" />
    
    
    <application	android:allowBackup="true"
        			android:icon="@drawable/ic_launcher"
        			android:label="@string/app_name"
        			android:theme="@style/AppTheme" >
        			
        <activity	android:name="com.ogp.gpstoggler.MainActivity"
            		android:label="@string/app_name" >
            		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity	android:name="com.ogp.gpstoggler.SelectActivity"
            		android:label="@string/app_name" />
            		
        
        <activity	android:name="com.ogp.gpstoggler.OffActivity"
            		android:label="@string/app_name" >
            		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity	android:name="com.ogp.gpstoggler.OnActivity"
            		android:label="@string/app_name" >
            		
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".GPSBroadcastReceiver"> 
  			<intent-filter> 
    			<action android:name="android.location.PROVIDERS_CHANGED" /> 
  			</intent-filter> 
		</receiver>
		
        <receiver android:name=".ActivityManagement" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
		
		<receiver android:name=".GPSWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/gps_widget" />
        </receiver>
		
        
        <service android:enabled="true" android:name=".MainService" />
	</application>
</manifest>